.modal {
  margin: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
}

.modal .card {
  margin-top: 50vh;
}

.modal button {
  display: block;
  margin: 0 auto;
}
